<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @playlist.user.name %>
</p>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>

<h2>New Song</h2>
<%= form_with(model: [@playlist, @song], local: true) do |form| %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :artist %>
    <%= form.text_field :artist %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<h3>Songs</h3>
<% @playlist.songs.each do |song| %>
  <ul>
    <li>
      <%= song.name %>
      <%= link_to "Destroy", playlist_song_path(@playlist, song), method: :delete, data: {confirm: 'Estas seguro'} %>
      </li>
  </ul>
<% end %>